# Spam SMS Classification

In [1]:
#Loading the libraries
import pandas as pd
import numpy as np
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\arpit\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\arpit\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
messages = pd.read_csv('SMSSpamCollection (1)',sep='\t',names = ['Label','Message'])

In [3]:
messages.head()

  Label                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
messages.tail()

     Label                                            Message
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name
5572  spam            Share your Mobile OTP for Free Tickets
5573  spam            Share your Mobile OTP for Free Tickets
5574  spam            Share your Mobile OTP for Free Tickets

In [5]:
#Info about the data
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5575 entries, 0 to 5574
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Label    5575 non-null   object
 1   Message  5575 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
# Count the number of missing values in each column of the 'messages' DataFrame
messages.isnull().sum()

Label      0
Message    0
dtype: int64

In [7]:
# Get the shape of the DataFrame
messages.shape

(5575, 2)

In [8]:
#Target variables counts
messages['Label'].value_counts()

Label
ham     4825
spam     760
Name: count, dtype: int64

In [9]:
#Calculating length of message
mes_len=0
length=[]
for i in range(len(messages)):
    length.append(len(messages['Message'][i]))

In [10]:
#Adding Length column to the dataframe
messages['Length']=length

In [11]:
messages.head()

  Label                                            Message  Length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [12]:
import string
count=0                                        # Initialize a counter for punctuation characters
punct=[]                                       # Create an empty list to store punctuation counts for each message
for i in range(len(messages)):                 # Iterate through each message in the 'Message' column of the DataFrame
    for j in messages['Message'][i]:           # Iterate through each character in the message
        if j in string.punctuation:            # Check if the character is a punctuation character
            count+=1                 
    #print(count)
    punct.append(count)                        # Append the count of punctuation characters for this message to the 'punct' list
    count=0                                    # Reset the count for the next message

In [13]:
punct

[9,
 6,
 6,
 6,
 2,
 8,
 2,
 6,
 6,
 2,
 6,
 8,
 8,
 4,
 2,
 11,
 6,
 5,
 1,
 8,
 1,
 0,
 6,
 3,
 2,
 7,
 1,
 6,
 7,
 4,
 4,
 7,
 1,
 1,
 2,
 6,
 3,
 0,
 6,
 7,
 3,
 15,
 5,
 1,
 10,
 4,
 2,
 2,
 2,
 7,
 2,
 11,
 1,
 14,
 5,
 6,
 12,
 3,
 0,
 3,
 5,
 2,
 0,
 2,
 2,
 3,
 8,
 10,
 5,
 1,
 9,
 1,
 1,
 6,
 3,
 2,
 2,
 3,
 5,
 4,
 2,
 2,
 0,
 0,
 1,
 5,
 4,
 4,
 1,
 5,
 3,
 5,
 2,
 2,
 3,
 8,
 3,
 1,
 7,
 0,
 3,
 2,
 3,
 6,
 8,
 0,
 2,
 2,
 1,
 6,
 3,
 1,
 2,
 4,
 6,
 15,
 13,
 7,
 4,
 6,
 3,
 6,
 3,
 2,
 1,
 2,
 2,
 9,
 1,
 4,
 5,
 2,
 3,
 1,
 5,
 8,
 4,
 1,
 1,
 4,
 12,
 2,
 2,
 9,
 2,
 0,
 1,
 7,
 3,
 3,
 2,
 3,
 1,
 6,
 6,
 16,
 1,
 4,
 8,
 2,
 3,
 1,
 5,
 5,
 13,
 6,
 1,
 5,
 3,
 2,
 5,
 2,
 12,
 1,
 6,
 7,
 1,
 1,
 14,
 1,
 5,
 3,
 2,
 2,
 2,
 1,
 7,
 1,
 2,
 1,
 5,
 5,
 8,
 4,
 2,
 3,
 0,
 0,
 2,
 5,
 8,
 5,
 0,
 16,
 1,
 1,
 3,
 13,
 1,
 4,
 3,
 4,
 0,
 7,
 6,
 2,
 1,
 3,
 3,
 0,
 5,
 2,
 5,
 2,
 6,
 11,
 2,
 6,
 1,
 12,
 0,
 7,
 0,
 2,
 4,
 8,
 6,
 0,
 2,
 14,
 3,
 1,
 0,
 5,
 9,
 2,
 3,
 0,
 1,
 5,
 3,
 0,
 11,
 2,
 3,
 3,
 2,
 3,
 4,
 4,
 5,
 0,
 4,
 3,
 0,
 1,
 1,
 1,
 7,
 3,
 3,
 2,
 3,
 7,
 1,
 2,
 3,
 0,
 2,
 2,
 3,
 1,
 12,
 1,
 3,
 3,
 1,
 2,
 1,
 14,
 7,
 1,
 2,
 2,
 0,
 2,
 8,
 1,
 11,
 1,
 3,
 2,
 5,
 2,
 0,
 15,
 9,
 1,
 3,
 6,
 2,
 3,
 10,
 3,
 6,
 2,
 4,
 14,
 4,
 4,
 4,
 3,
 6,
 2,
 6,
 2,
 4,
 3,
 4,
 2,
 3,
 5,
 4,
 4,
 4,
 7,
 4,
 2,
 2,
 2,
 4,
 2,
 4,
 1,
 1,
 1,
 7,
 4,
 1,
 8,
 2,
 3,
 2,
 7,
 1,
 7,
 7,
 3,
 9,
 10,
 5,
 7,
 2,
 1,
 5,
 8,
 2,
 11,
 6,
 2,
 2,
 9,
 2,
 8,
 1,
 3,
 0,
 6,
 3,
 0,
 5,
 14,
 1,
 5,
 4,
 4,
 0,
 1,
 0,
 4,
 3,
 4,
 2,
 1,
 2,
 3,
 3,
 4,
 6,
 11,
 11,
 3,
 1,
 1,
 1,
 6,
 1,
 6,
 3,
 0,
 9,
 0,
 0,
 12,
 1,
 1,
 1,
 0,
 5,
 3,
 3,
 4,
 2,
 3,
 4,
 30,
 3,
 4,
 1,
 4,
 17,
 1,
 0,
 2,
 1,
 9,
 17,
 2,
 0,
 3,
 2,
 8,
 4,
 9,
 2,
 4,
 6,
 6,
 3,
 4,
 3,
 1,
 0,
 6,
 2,
 9,
 2,
 3,
 3,
 6,
 3,
 1,
 2,
 8,
 2,
 0,
 11,
 2,
 1,
 4,
 2,
 5,
 2,
 18,
 7,
 10,
 1,
 4,
 3,
 3,
 2,
 1,
 3,
 3,
 4,
 0,
 1,
 4,
 1,
 4,
 2,
 2,
 12,
 2,
 6,
 2,
 4,
 6,
 2,
 2,
 0,
 4,
 1,
 1,
 5,
 7,
 5,
 2,
 12,
 2,
 12,
 2,
 8,
 2,
 4,
 7,
 3,
 7,
 5,
 5,
 3,
 2,
 0,
 0,
 3,
 10,
 4,
 10,
 2,
 1,
 2,
 8,
 7,
 7,
 4,
 6,
 5,
 4,
 2,
 2,
 2,
 6,
 15,
 4,
 2,
 3,
 1,
 3,
 1,
 7,
 4,
 9,
 3,
 2,
 4,
 1,
 2,
 4,
 1,
 4,
 19,
 5,
 4,
 3,
 6,
 16,
 2,
 2,
 7,
 3,
 1,
 9,
 0,
 1,
 1,
 3,
 6,
 5,
 2,
 2,
 5,
 3,
 0,
 0,
 3,
 4,
 1,
 12,
 0,
 0,
 2,
 11,
 7,
 9,
 1,
 9,
 2,
 0,
 2,
 3,
 3,
 8,
 4,
 1,
 1,
 3,
 0,
 8,
 0,
 3,
 4,
 2,
 9,
 0,
 1,
 3,
 4,
 4,
 2,
 6,
 3,
 5,
 5,
 1,
 4,
 3,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 13,
 3,
 3,
 4,
 2,
 1,
 3,
 7,
 0,
 3,
 3,
 8,
 2,
 9,
 2,
 11,
 4,
 6,
 3,
 1,
 0,
 1,
 4,
 0,
 3,
 0,
 11,
 2,
 6,
 9,
 3,
 4,
 1,
 6,
 1,
 1,
 2,
 10,
 3,
 7,
 8,
 3,
 4,
 8,
 1,
 6,
 4,
 2,
 1,
 9,
 2,
 3,
 4,
 6,
 2,
 3,
 1,
 8,
 3,
 2,
 1,
 2,
 3,
 1,
 3,
 4,
 1,
 2,
 0,
 6,
 7,
 2,
 0,
 6,
 6,
 6,
 23,
 0,
 1,
 3,
 2,
 1,
 7,
 9,
 2,
 4,
 1,
 4,
 1,
 0,
 10,
 5,
 13,
 1,
 2,
 1,
 4,
 3,
 2,
 4,
 3,
 0,
 2,
 9,
 1,
 7,
 2,
 4,
 7,
 2,
 2,
 2,
 5,
 1,
 2,
 1,
 3,
 1,
 0,
 0,
 6,
 1,
 2,
 5,
 0,
 4,
 5,
 6,
 5,
 12,
 4,
 5,
 10,
 2,
 1,
 6,
 1,
 5,
 1,
 6,
 2,
 1,
 2,
 2,
 3,
 0,
 12,
 11,
 1,
 2,
 1,
 3,
 3,
 5,
 6,
 0,
 4,
 3,
 11,
 3,
 6,
 2,
 8,
 0,
 1,
 5,
 9,
 7,
 7,
 4,
 2,
 0,
 2,
 2,
 0,
 4,
 10,
 4,
 3,
 1,
 5,
 6,
 4,
 0,
 0,
 6,
 9,
 0,
 10,
 5,
 1,
 10,
 2,
 2,
 6,
 3,
 6,
 1,
 13,
 8,
 2,
 14,
 0,
 13,
 0,
 7,
 0,
 3,
 3,
 6,
 4,
 10,
 3,
 8,
 4,
 10,
 2,
 5,
 1,
 3,
 5,
 4,
 1,
 7,
 1,
 0,
 2,
 0,
 4,
 1,
 0,
 4,
 2,
 9,
 4,
 4,
 2,
 8,
 1,
 3,
 19,
 7,
 1,
 5,
 3,
 5,
 9,
 9,
 5,
 0,
 1,
 1,
 2,
 5,
 0,
 1,
 1,
 4,
 7,
 5,
 7,
 8,
 1,
 7,
 4,
 8,
 2,
 2,
 2,
 4,
 2,
 2,
 6,
 2,
 0,
 11,
 4,
 1,
 11,
 2,
 2,
 0,
 1,
 11,
 2,
 1,
 0,
 2,
 2,
 5,
 4,
 8,
 5,
 4,
 1,
 6,
 8,
 1,
 0,
 2,
 5,
 3,
 4,
 4,
 6,
 4,
 6,
 2,
 5,
 1,
 4,
 4,
 8,
 4,
 0,
 1,
 2,
 6,
 9,
 1,
 0,
 13,
 7,
 0,
 4,
 1,
 2,
 5,
 8,
 3,
 0,
 6,
 3,
 9,
 1,
 3,
 4,
 1,
 1,
 1,
 3,
 1,
 0,
 2,
 8,
 2,
 2,
 2,
 7,
 1,
 0,
 6,
 9,
 13,
 12,
 3,
 0,
 4,
 9,
 11,
 4,
 7,
 3,
 5,
 2,
 ...]

In [14]:
messages["Punctuation"]=punct

# Normalization

In [15]:
#Regex
import re

#Stopwords
from nltk.corpus import stopwords

#Lemmatization
from nltk.stem import WordNetLemmatizer
#Creating object for Lemmatizer
lemmatizer = WordNetLemmatizer()

In [16]:
#Removal of extra characters and stop words and lemmatization
corpus = []

#Skipping the 0th index (it's of Label)
for i in range(0,len(messages)):
    words = re.sub('[^a-zA-Z]',' ',messages['Message'][i])
    words = words.lower()
    #Splits into list of words 
    words = words.split()
    
    #Lemmatizing the word and removing the stopwords
    words = [lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
    
    #Again join words to form sentences
    words = ' '.join(words)
    
    corpus.append(words)

In [17]:
#What's in Corpus
corpus[0]

'go jurong point crazy available bugis n great world la e buffet cine got amore wat'

In [18]:
messages['Message'] = corpus

In [19]:
messages.head()

,Label,Message,Length,Punctuation
0,ham,go jurong point crazy available bugis n great ...,111,9
1,ham,ok lar joking wif u oni,29,6
2,spam,free entry wkly comp win fa cup final tkts st ...,155,6
3,ham,u dun say early hor u c already say,49,6
4,ham,nah think go usf life around though,61,2

In [20]:
spam_messages = messages[messages['Label'] == 'spam']
ham_messages = messages[messages['Label'] == 'ham']

In [21]:
spam_messages.head()

,Label,Message,Length,Punctuation
2,spam,free entry wkly comp win fa cup final tkts st ...,155,6
5,spam,freemsg hey darling week word back like fun st...,147,8
8,spam,winner valued network customer selected receiv...,157,6
9,spam,mobile month u r entitled update latest colour...,154,2
11,spam,six chance win cash pound txt csh send cost p ...,136,8

In [22]:
ham_messages.head()

,Label,Message,Length,Punctuation
0,ham,go jurong point crazy available bugis n great ...,111,9
1,ham,ok lar joking wif u oni,29,6
3,ham,u dun say early hor u c already say,49,6
4,ham,nah think go usf life around though,61,2
6,ham,even brother like speak treat like aid patent,77,2

# Training and evaluating a model

In [23]:
X = messages['Message']

In [24]:
X.head()

0    go jurong point crazy available bugis n great ...
1                              ok lar joking wif u oni
2    free entry wkly comp win fa cup final tkts st ...
3                  u dun say early hor u c already say
4                  nah think go usf life around though
Name: Message, dtype: object

In [25]:
y = messages['Label']

In [26]:
y.head()

0     ham
1     ham
2    spam
3     ham
4     ham
Name: Label, dtype: object

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train , X_test , y_train , y_test = train_test_split(X , y, test_size = 0.33, random_state = 42)

In [29]:
X_train.head()

4941                            go home liao ask dad pick
2191    ooh got gonna start belly dancing moseley wed ...
4954    lost pound since doc visit last week woot woot...
3837                                       come n pick ar
4655                                       hope great day
Name: Message, dtype: object

# Feature extraction

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
count_vect=CountVectorizer()

In [32]:
#transform the training text data 'X_train' into a matrix of word counts and convert it to a dense array representation.
X_train_count_vect=count_vect.fit_transform(X_train).toarray()

In [33]:
X_train_count_vect

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [34]:
X_train_count_vect.shape

(3741, 5803)

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
tfidf=TfidfVectorizer()

In [37]:
X_train_tfidf_vect=count_vect.fit_transform(X_train).toarray()

In [38]:
X_train_tfidf_vect

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [39]:
X_train_tfidf_vect.shape

(3741, 5803)

In [40]:
from sklearn.naive_bayes import MultinomialNB   #for text classification
from sklearn.pipeline import Pipeline

In [41]:
# Fit the pipeline (includes both text vectorization and model training)
text_mnb=Pipeline([('tfidf',TfidfVectorizer()),('mnb',MultinomialNB())])

In [42]:
#Now u can directly pass the X_train dataset.
text_mnb.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('mnb', MultinomialNB())])

In [43]:
X_test.head()

3836                 thinking chennai forgot come auction
1033                                   happy new year man
79                         still looking job much ta earn
167     urgent trying contact last weekend draw show p...
453                   k k detail want transfer acc enough
Name: Message, dtype: object

In [44]:
y_preds_mnb=text_mnb.predict(X_test)

In [45]:
y_preds_mnb

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [46]:
# Calculate the accuracy score of the 'text_mnb' Multinomial Naive Bayes classifier on the training dataset 
text_mnb.score(X_train,y_train)

0.97514033680834

In [47]:
# Calculate the accuracy score of the 'text_mnb' Multinomial Naive Bayes classifier on the testing dataset
text_mnb.score(X_test,y_test)

0.9647505422993492

In [48]:
from sklearn.metrics import confusion_matrix

In [49]:
print(confusion_matrix(y_test,y_preds_mnb))

[[1582    0]
 [  65  197]]

In [50]:
from sklearn.metrics import classification_report       #Report performance of a classification model

In [51]:
print(classification_report(y_test,y_preds_mnb))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98      1582
        spam       1.00      0.75      0.86       262

    accuracy                           0.96      1844
   macro avg       0.98      0.88      0.92      1844
weighted avg       0.97      0.96      0.96      1844

In [52]:
from sklearn.svm import LinearSVC         #categorize data points into one of two classes e.g., spam vs. non-spam sms

In [53]:
#each tuple takes the name you decide , next you call what you want to occur
text_svm=Pipeline([('tfidf',TfidfVectorizer()),('svm',LinearSVC())])

In [54]:
#Now u can directly pass the X_train dataset.
text_svm.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('svm', LinearSVC())])

In [55]:
X_test.head()

3836                 thinking chennai forgot come auction
1033                                   happy new year man
79                         still looking job much ta earn
167     urgent trying contact last weekend draw show p...
453                   k k detail want transfer acc enough
Name: Message, dtype: object

In [56]:
y_preds_svm=text_svm.predict(X_test)

In [57]:
#Predictions of the test data
y_preds_svm

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [58]:
#training score
text_svm.score(X_train,y_train)*100

99.91980753809142

In [59]:
#Testing score
text_svm.score(X_test,y_test)

0.985357917570499

In [60]:
print(confusion_matrix(y_test,y_preds_svm))

[[1575    7]
 [  20  242]]

In [61]:
print(classification_report(y_test,y_preds_svm))

              precision    recall  f1-score   support

         ham       0.99      1.00      0.99      1582
        spam       0.97      0.92      0.95       262

    accuracy                           0.99      1844
   macro avg       0.98      0.96      0.97      1844
weighted avg       0.99      0.99      0.99      1844

# Message(Spam or Ham)

In [62]:
#Message to be checked whether spam or not
text = 'Pay $2000 to grab the opportunity'

In [63]:
def refined_text(text):
    #Removal of extra characters and stop words
    words = re.sub('[^a-zA-Z]',' ',text)
    words = words.lower()
    #Splits into list of words 
    words = words.split()

    #Lemmatizing the word and removing the stopwords
    words = [lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]

    #Again join words to form sentences
    words = ' '.join(words)
    return words

In [64]:
refined_word = refined_text(text)

In [65]:
refined_word = [refined_word]

In [66]:
refined_word

['pay grab opportunity']

In [67]:
text_mnb.predict(refined_word)

array(['ham'], dtype='<U4')

In [68]:
for i in text_mnb.predict(refined_word):             # Iterate through predictions made by the 'text_mnb' model 
    if i=='ham':
        print("RELAX! This message is not a Spam")
        userinput=input('Do you want to report it as spam? (yes/no): ')   #Prompt the user to report the message as spam
        if userinput == 'yes':                                            # If the user wants to report it as spam
            with open("SMSSpamCollection (1)", "a") as file:              # Append the message to dataset
                file.write(f"\n{'spam'}\t{text}" )
            print('Message reported as spam and added to the dataset.')   # Print a confirmation message
    else:
        print('ALERT!! This message might be spam')

RELAX! This message is not a Spam
Do you want to report it as spam? (yes/no): yes
Message reported as spam and added to the dataset.